$pink-color: #E91E63;

.mainmenu ul li a:before {
    background: $pink-color;
}
.section-title > h2::before {
    background: $pink-color;
}
a.lightbox-gallery::before {
    background: $pink-color;
}
.spinner {
    background-color: $pink-color;
}
.sk-folding-cube .sk-cube:before {
    background-color: $pink-color; 
}
.cleaning-slide-preloader-wrap {
    background: $pink-color;
}
.header-top-area i.fa {
    color: $pink-color;
}
.social-icon i.fa:hover {
    color: $pink-color;
}
.mainmenu ul li:hover > a,
.mainmenu ul li.active > a {
    background: $pink-color;
}
.mainmenu li ul {
    background: $pink-color;
}
.header-top-area a:hover {
    color: $pink-color;
}
.shop-cart-checkout a {
    background: $pink-color;
}
.search-modal .close:hover {
    color: $pink-color;
}
.search-form .search-btn {
    background-color: $pink-color; 
}
.single-slider-item h1 span {
    color: $pink-color;
}
.homepage-slides .owl-nav div {
    background: $pink-color;
}
.cleaning-btn {
    background: $pink-color;
    border: 1px solid $pink-color;
}
.project-slides .owl-nav div:hover {
    background: $pink-color;
}
.project-slides .owl-nav div:hover {
    background: $pink-color;
}
.single-working-info:hover {
    border: 1px dashed $pink-color;
}
.single-working-info i {
    color: $pink-color;
}
.single-working-info:hover h3 {
    border-bottom: 1px dashed $pink-color;
    border-top: 1px dashed $pink-color;
}
.green-btn {
    background: $pink-color;
}
.who-we-info .single-info i {
    background-color: $pink-color;
}
.read-more-btn {
    background: $pink-color;
}
.choose-reasons i {
    background: $pink-color;
}
.counter-box i {
    background-color: $pink-color;
}
.counter-box:hover {
    border: 1px dashed $pink-color;
}
.cart-btn {
    background: $pink-color;
}
.shop-slides .owl-nav div:hover {
    background: $pink-color;
}
.shop-btn:hover {
    background: $pink-color;
}
.promo-play-btn {
    background: $pink-color;
}
.promo-play-btn:before, .promo-play-btn:after {
    background-color: $pink-color;
}
.project-text-area ul li i {
    color: $pink-color;
}
.pager li > a {
    background-color: $pink-color;
    border: 1px solid $pink-color;
}
.testimonial-slide-item {
    border-bottom: 2px solid $pink-color;
}
.testimonial-slides .owl-prev:hover, .testimonial-slides .owl-next:hover {
    color: $pink-color;
}
.testimonial-slide-item h3::before {
    background: $pink-color;
}
.subscribe-form input {
    background: $pink-color;
}
.subscribe-section {
    background-color: $pink-color;
}
.subscribe-section .subscribe-form button:hover {
    background-color: $pink-color;
}
.team-slides .owl-nav div:hover {
    background: $pink-color;
}
.social-media > a:hover {
    background: $pink-color;
}
.team-profile > a:hover {
    background: $pink-color;
}
.profile-box .social-links a {
    background: $pink-color;
}
.select-plan {
    background: $pink-color;
}
.date {
    background: $pink-color;
}
.single-blog-item::before,
.single-boxed-item::before,
.single-service-image::before {
    background: $pink-color;
}
.widget li::before {
    color: $pink-color;
}
.tag_widget.tag_list a:hover {
    background: $pink-color;
}
.blog-serch-form > input {
    border: 1px solid $pink-color;
}
.blog-serch-form > button {
    background: $pink-color;
}
.pagination-box > .active > a,
.pagination-box > .active > a:focus,
.pagination-box > .active > a:hover,
.pagination-box > .active > span,
.pagination-box > .active > span:focus,
.pagination-box > .active > span:hover {
    background-color: $pink-color;
    border-color: $pink-color;
}
.pagination-box > li > a:focus,
.pagination-box > li > a:hover,
.pagination-box > li > span:focus,
.pagination-box > li > span:hover {
    background-color: $pink-color;
    border-color: $pink-color;
}
.footer-wid.footer-menu a {
    color: $pink-color;
}
.single-footer-iem > p {
    color: $pink-color;
}
.subscribe button {
    background: $pink-color;
    border: 1px solid $pink-color;
}
.social-icos a:hover {
    background: $pink-color;
}
.shorting-menu > button {
    border-color: $pink-color rgba(0, 0, 0, 0) $pink-color rgba(0, 0, 0, 0);
}
.shorting-menu > button:hover,
.shorting-menu > button.mixitup-control-active {
    background: $pink-color;
    border: 1px dashed $pink-color;
}
.shorting-menu > button:hover,
.shorting-menu > button.mixitup-control-active {
    background: $pink-color;
    border: 1px dashed $pink-color;
}
#back-to-top {
    background: $pink-color;
}
.product-price > h3 {
    color: $pink-color;
}
.add-to-cart {
    background: $pink-color;
}
.list-inline a:hover {
    color: $pink-color;
}
.product-wrap-btn:hover span {
    background: $pink-color;
} 
.product-wrap-btn:hover {
    color: $pink-color;
}
.tabs-left {
    border-right: 1px solid $pink-color;
}
.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
    background-color: $pink-color;
    border-bottom-color: $pink-color;
    border-top-color: $pink-color;
    border-left-color: $pink-color;
}
.review-form input.sbmt-btn {
    background: $pink-color;
}
.contact-form-area input.sbmt-btn:hover {
    background-color: $pink-color;
}
.address-area ul > li i {
    color: $pink-color;
}
.address-area ul li .contact-social li a {
    border: 1px solid $pink-color;
}
.address-area ul li .contact-social li a:hover {
    background: $pink-color;
}
.address-area ul li .contact-social li a i {
    color: $pink-color;
}
.blog-slides .owl-nav div:hover {
    background: $pink-color;
}
.comment-form-wrap input.sbmt-btn:hover {
    background: $pink-color;
}
.qoute-title-area {
    background: $pink-color;
}
.qoute-form-area input[type="submit"] {
    background: $pink-color;
}
.error-section h1 {
    color: $pink-color;
}
.faq-t {
    color: $pink-color;
}
.project-text-area ul li i {
    color: $pink-color;
}
.product-price > h3 {
    color: $pink-color;
}
.header-shop i span {
    background-color: $pink-color;
}
.ColorSwitcher__control {
    background: $pink-color;
}
.footer-copyright-area a {
    color: $pink-color;
}
.mainmenu-area .mainmenu ul li ul li a:hover {
    color: $pink-color;
}
.mainmenu-area .mainmenu ul li ul li.active a {
    color: $pink-color;
}
.home-two .qoute-title {
    background-color: $pink-color;
}
.single-project-item .single-project-info {
    background: $pink-color;
}
.shop-item-block .shop-single-item .shop-btn:hover {
    background: $pink-color;
}
.widget.recent_posts a:hover {
    color: $pink-color;
}
.pagination-box li a:hover {
    background-color: $pink-color;
    border-color: $pink-color;
}
.comments-area .comment-list .comment-item .comment-reply-link {
    color: $pink-color;
    border: 1px solid $pink-color;
}
.comments-area .comment-list .comment-item .comment-reply-link:hover {
    background-color: $pink-color;
}
.rating li a {
    color: $pink-color;
}
.footer-wid .social-icos li a:hover {
    background: $pink-color;
}
.cleaning-mini-banner .cleaning-breadcumb {
    color: $pink-color;
}
.single-service-item-block h3 a:hover {
    color: $pink-color;
}
.single-project-item .single-project-info {
    background: $pink-color;
}
.shop-item-block .shop-single-item .shop-btn:hover {
    background: $pink-color;
}
.tabs-left {
    li {
        .active, &:hover {
            background-color: $pink-color !important;
            border-bottom-color: $pink-color !important;
            border-top-color: $pink-color !important;
        }
    }
}


.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    color: $pink-color;
}
.custom-btn{
    background-color: $pink-color;
}
.all-section-title{
    h5 {
        &:before{
            background: $pink-color;
        }
    }
}
.header-topbar-section{
    .single-top-head {
        .head-scial-icon{
            li{
                a{
                    &:hover{
                       background: $pink-color;
                    }
                }
            }
        }
        .head-contact{
            li{
                a{
                    &:hover{
                        color: $pink-color!important;
                    }
                    i{
                        color: $pink-color;
                    }
                }
                    
            }
        }
    }
}

/* Services Section Style Start*/
.services-section{
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
        background-color: $pink-color;
    }
    .service-box{
        &:hover .service-img-caption h3{
            color: $pink-color;
        }
        .service-img-caption{
            h3{
                i.flaticon-home:before {
                    color: $pink-color;
                }
                i.flaticon-car:before {
                    color: $pink-color;
                }
                i.flaticon-desk:before {
                    color: $pink-color;

                }
            }
            .services-btn{
                color: $pink-color;
            }
        }
    }
}
/* Services Section Style End */

.contact-section {
    &:before {
        background-color: $pink-color;
    }
}
.blog-section{
    .single-blog{
        .blog-caption{
            &:hover h3{
                color: $pink-color;
            }
            &:hover .cap-bottom i{
                color: $pink-color;
            }
        }
    }
}
.joinsubscribe{
    .single-subscribe2{
        .subscribe-btn{
            background: $pink-color;
        }
    }
}
.header-topbar-section2{
    border-bottom: 2px solid $pink-color;
}
.header-topbar-section{
    .single-top-head {
        .head-scial-icon{
            li{
                a{
                    color:$pink-color;
                }
            }
        }
        .head-contact{
            li{
                a{
                    color: $pink-color;
                }
            }
        }
    }
}
.mainmenu-area2{
    .mainmenu2 {
        ul {
            li {
                a {
                    &:hover, &.active{
                        border-bottom: 2px solid $pink-color;
                        color: $pink-color;
                    }
                }

                ul{
        
                    background-color: $pink-color;
                }
            }
        }
    }
}

.home-three-slider{
    &.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
        background: $pink-color;
    }

    .slider-thre-item-wrap{
        .slider-text{
            span{
                color: $pink-color;
            }
            .vidbtn{
                ul{
                    li{
                        a{
                            i.flaticon-play-button:before{
                                color: $pink-color;
                            }
                        }
                    }
                }
            }
        }
    }
}

.work-section{
    .single-work{
        &:hover .icon{
            background-color: $pink-color;
        }
        .icon{
            border: 1px solid $pink-color;

            i{
                color: $pink-color;
            }
        }
    }
}
.footer-top{
    .social-link{
        ul{
            li{
                a{
                    background: $pink-color;
                }
            }
        }
    }
    .foot-address {
        .add-wrap {
            i {
                color: $pink-color;
            }
        }
    }
}
.testimonial-sections{
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
        background-color: $pink-color;
    }    
}